:root{
--primary-color:#d59bf6;
--secondary-color:#f5f2fe;
}

main{
text-align: center;
}

h1{
  font-size:50px;  
}
.buttons{
    margin:50px;
}


.contact-btn{
text-decoration: none;
padding:20px;
background: var(--primary-color);
color:white;
font-size:20px;
border-radius:8px;
}

.about-btn{
    text-decoration: none;
    border:1px solid var(--primary-color);
    padding:20px;
    color:var(--primary-color);
    font-weight:bold;
    font-size:20px;
    border-radius:8px;
    position:relative;
    right:-15px;
}

.para-container{
    text-align: center;
}

.paras{
    display: flex;
    margin: 30px 0; 
}

 p {
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

    .first-para, .second-para{
    background: var(--secondary-color);
    width:40%;
    margin:0 auto;
    }

    #contact{
        margin:50px;
    }

.email-link{
    text-decoration:none;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    cursor:pointer;
}




.home-link:visited{
    color:red;
    cursor:pointer;
}
.contact-header{
    font-size:30px;
}

