:root{
--primary-color:#d59bf6;
}

main{
text-align: center;
}

h1{
  font-size:50px;  
}
.buttons{
    margin:50px;
}
#contact-btn{
text-decoration: none;
padding:20px;
background: var(--primary-color);
color:white;
font-size:20px;
border-radius:8px;
}

.about-btn{
    text-decoration: none;
    border:1px solid var(--primary-color);
    padding:20px;
    color:var(--primary-color);
    font-weight:bold;
    font-size:20px;
    border-radius:8px;
    position:relative;
    right:-15px;
}

.para-container{
    text-align: center;
}